.cart-icons {
    animation: coloring infinite 5s ease-in-out;
    translate: 5s ease-in-out;
}

@keyframes coloring {
    from {
        color: none;
    }
    to {
        color: green;
    }
}

.iconss .fa {
    animation-name: shaker;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    transition: all 1s ease-in-out;
    animation-play-state: running;
    animation-direction: alternate-reverse;
}

@keyframes shaker {
    0% {
        margin-left: 34px;
    }
    100% {
        margin-left: 55px;
    }
}

@keyframes seven {
    from {
        background-color: rgb(22, 21, 21);
    }
    to {
        background-color: rgb(0, 0, 0);
    }
}