body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: 900;
}

.navbar-brand span {
    font-family: cursive;
    font-size: 2.5rem;
    font-weight: 900;
}

.nav-item {
    font-size: 1rem;
    font-family: "Ubuntu";
    font-weight: 900;
}

.nav-link {
    color: burlywood;
}

.section {
    height: 100vh;
    width: 100vw;
}

.carousel-item img {
    width: 100vh;
    height: 98vh;
    object-fit: cover;
    object-position: center;
    margin-top: 2vh;
}

.carousel-caption h5 {
    font-size: 1.5rem;
    font-family: "Ubuntu";
    font-weight: 900;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel-caption p {
    font-size: 1rem;
    font-family: "Ubuntu";
    font-weight: 900;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.carousel-control-prev,
.carousel-control-next {
    /* background-color: rgba(0, 0, 0, 0.4); */
    font-weight: 900;
    color: crimson;
}

.iconss {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    height: calc(100vh - 40vh);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    z-index: 10;
    width: 100px;
}

.iconss .fa {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 900;
    /* background-color: aqua; */
    margin-left: 50px;
}


/* section two */

.section-two {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.section-three {
    height: 100vh;
    width: 100vw;
}